<footer class="footer">
    <div class="container text-center">
        <!-- <a class="text-muted the-chain-link" >Don't divulge secret data</a> -->
        <a >Don't divulge secret data</a>
    </div>
</footer>