<nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">Residents’ Travel Trajectories<span class="blue-word">Data Platform</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-wrench" aria-hidden="true"></i> Tool
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#"><i class="fa fa-user icon-color" aria-hidden="true"></i> User</a>
                            <ul class="dropdown-menu" >
                                <li><a class="dropdown-item" href="/identity"><i class="fa fa-plus icon-color" aria-hidden="true" float="left"></i> rebulid</a></li>
                                <li><a class="dropdown-item" href="/recovery"><i class="fa fa-key icon-color" aria-hidden="true"></i> pk retrieval</a></li>
                                <li><a class="dropdown-item" href="/files"><i class="fas fa-file icon-color" aria-hidden="true"></i> View the files that belong to you</a></li>
                            </ul>
                        </li> -->
                        <li><a class="dropdown-item" href="/identity"><i class="fa fa-plus icon-color"" aria-hidden="true"></i> Key pair creation tool</a></li>
                        <li><a class="dropdown-item" href="/recovery"><i class="fa fa-key icon-color" aria-hidden="true"></i> Public key retrieval tool</a></li>
                        <li><a class="dropdown-item" href="/files"><i class="fas fa-file icon-color" aria-hidden="true"></i> Data search tool</a></li>
                        <li><a class="dropdown-item" href="/upload"><i class="fas fa-upload icon-color" aria-hidden="true"></i> Data transmission tool</a></li>
                        <li><a class="dropdown-item" href="/download"><i class="fas fa-download icon-color" aria-hidden="true"></i> Data download tool</a></li>
                        <li><a class="dropdown-item" href="/explorer"><i class="fas fa-cubes icon-color" aria-hidden="true"></i> Blockchain browser</a></li>
                        <!-- <li><a class="dropdown-item" href="http://101.43.242.239:8081/"><i class="fas fa-cubes icon-color" aria-hidden="true"></i> Hyperledger Explore</a></li> -->
                    </ul>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-list" aria-hidden="true"></i> Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/services/secure-rec"><i class="fas fa-heartbeat icon-color" aria-hidden="true"></i> Secure Rec</a></li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" ><i  aria-hidden="true"></i>about</a>
                </li>
            </ul>
        </div>
    </div>  
</nav>
